<%= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track' => true %>
<title>My Portfolio</title>
</head>

<body>

  <%= render 'sidebar' %>

  <div class="container">
  <h2>Projects</h2>

  <div class="item">
  
  <% @projects.each do |project| %>
  <div class="item-info">
      
      <div class="image proj-image">
        <figure>
          <span class="b-p-title"><%= link_to project.title, project %></span>
          <div class="img">
            <div class="hover"><%= link_to "OPEN", project.link, target: "_blank" %></div>
            <img src="http://i.imgur.com/SekwlLal.png" alt="project" />
          </div>
          <figcaption><%= project.created_at.strftime('%b %d, %Y') %></figcaption>
        </figure>
      </div>
      <div class="description" style="position: relative; top: 2.3em;">
        <div class="row">
          <h4>Description</h4>
          <p>This functionality will be available soon.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore numquam, atque ipsam. Quisquam commodi odit consequatur debitis, quas facere omnis!</p>
        </div>
        <div class="row">
          <h4>Skills</h4>
          <p>This functionality will be available soon.</p>
        </div>
        <% if user_signed_in? %>
          <div id="admin_links">
            <%= link_to "Edit Project", edit_project_path(project) %>
            <%= link_to "Delete Project", project_path(project), method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>

  </div>
  
</div>