<div id="post_show_content" class="skinny_wrapper">
   <div class="title"> 
      <h2><%= @project.title %></h2>
      <p class="date"><%= @project.created_at.strftime('%A, %B %d') %></p>
      <hr id="hr-darkred">
  </div>

    <div id="content">
      <div id="description">
        <%= markdown @project.description %>
      </div>
      <div class="button_wrapper">
        <a href="<%= @project.link %>" class="project_button" target="_blank">Visit <%= @project.title %></a>
      </div>   
    </div>

    <hr id="hr-red">
    <% if user_signed_in? %>
    <div id="admin_links">
      <%= link_to "Edit Project", edit_project_path(@project) %>
      <%= link_to "Delete Project", project_path(@project), method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
  <% end %>

  <%= render 'disqus' %>
  
</div>