<%= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track' => true %>
<title>My Blog</title>
</head>
<body>

  <%= render 'sidebar' %>

  <div class="container">
  <h2>My Blog</h2>

  <div class="item">

    <% @posts.each do |post| %>
    <div class="item-info">
      
      <div class="image blog-image">
        <figure>
          <span style="font-size: 2em"><%= link_to post.title, post %></span>
          <div class="img">
            <div class="hover"><%= link_to "FULL POST", post %></div>
            <img src="http://i.imgur.com/JXbp83C.jpg" alt="project" />
          </div>
          <figcaption><%= post.created_at.strftime('%b %d, %Y') %></figcaption>
        </figure>
      </div>
      <div class="description" style="position: relative; top: 2.3em;">
        <div class="row">
          <h4>Description</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo possimus laboriosam doloribus dignissimos voluptas, dele, cupiditate numquam temporibus placeat nulla harum obcaecati eum. Vel, magnam officia dicta. Possimus, cum. Nesciunt.</p>
        </div>
      </div>
    </div>
    <% end %>

  </div>
  
</div>