<!DOCTYPE html>
<html>
<head>
  <title>Blog</title><title>Max Slob - Starter Developer and Designer</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
    <%= link_to "Max Slob", root_path, class: "name" %>
		<nav>
			<ul>
				<%= link_to "Projects", projects_path %>
        <%= link_to "Articles", posts_path %>
        <a href="contact.html">Contact</a>
			</ul>
		</nav>
	</header>

  <%= yield %>

  <footer id="main_footer">
    <p class="copyright">&copy; 2015 Max Slob</p>
    <nav>
      <a href="http://linkedin.com/in/maxslob" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/maxslob" target="_blank"><i class="fa fa-github-alt"></i></a>
      <a href="https://instagram.com/max.slob/" target="_blank"><i class="fa fa-instagram"></i></a>
    </nav>
  </footer>

</body>
</html>
